In [11]:
import pandas as pd
import numpy as np
import functools

In [12]:
df_cocoa = pd.read_csv('DB Commodities/CC=F_Cocoa.csv')
df_cocoa = df_cocoa[['Date','Close']]
df_cocoa = df_cocoa.rename({'Close': 'cocoa'}, axis=1)

df_crude_oil = pd.read_csv('DB Commodities/CL=F_Crude Oil.csv')
df_crude_oil = df_crude_oil[['Date','Close']]
df_crude_oil = df_crude_oil.rename({'Close': 'crude_oil'}, axis=1)

df_cotton = pd.read_csv('DB Commodities/CT=F_Cotton.csv')
df_cotton = df_cotton[['Date','Close']]
df_cotton = df_cotton.rename({'Close': 'cotton'}, axis=1)

df_gold = pd.read_csv('DB Commodities/GC=F_Gold.csv')
df_gold = df_gold[['Date','Close']]
df_gold = df_gold.rename({'Close': 'gold'}, axis=1)

df_lean_hogs = pd.read_csv('DB Commodities/HE=F_Lean Hogs.csv')
df_lean_hogs = df_lean_hogs[['Date','Close']]
df_lean_hogs = df_lean_hogs.rename({'Close': 'lean_hogs'}, axis=1)

df_copper = pd.read_csv('DB Commodities/HG=F_Copper .csv')
df_copper = df_copper[['Date','Close']]
df_copper = df_copper.rename({'Close': 'copper'}, axis=1)

df_coffe = pd.read_csv('DB Commodities/KC=F_Coffee.csv')
df_coffe = df_coffe[['Date','Close']]
df_coffe = df_coffe.rename({'Close': 'coffe'}, axis=1)

df_wheat = pd.read_csv('DB Commodities/KE=F_KC HRW Wheat.csv')
df_wheat = df_wheat[['Date','Close']]
df_wheat = df_wheat.rename({'Close': 'wheat'}, axis=1)

df_live_cattle = pd.read_csv('DB Commodities/LE=F_Live Cattle .csv')
df_live_cattle = df_live_cattle[['Date','Close']]
df_live_cattle = df_live_cattle.rename({'Close': 'live_cattle'}, axis=1)

df_natural_gas = pd.read_csv('DB Commodities/NG=F_Natural Gas.csv')
df_natural_gas = df_natural_gas[['Date','Close']]
df_natural_gas = df_natural_gas.rename({'Close': 'natural_gas'}, axis=1)

df_platinum = pd.read_csv('DB Commodities/PL=F_Platinum.csv')
df_platinum = df_platinum[['Date','Close']]
df_platinum = df_platinum.rename({'Close': 'platinum'}, axis=1)

df_sugar = pd.read_csv('DB Commodities/SB=F_Sugar.csv')
df_sugar = df_sugar[['Date','Close']]
df_sugar = df_sugar.rename({'Close': 'sugar'}, axis=1)

df_silver = pd.read_csv('DB Commodities/SI=F_Silver.csv')
df_silver = df_silver[['Date','Close']]
df_silver = df_silver.rename({'Close': 'silver'}, axis=1)

df_corn = pd.read_csv('DB Commodities/ZC=F_Corn.csv')
df_corn = df_corn[['Date','Close']]
df_corn = df_corn.rename({'Close': 'corn'}, axis=1)

df_oat = pd.read_csv('DB Commodities/ZO=F_Oat.csv')
df_oat = df_oat[['Date','Close']]
df_oat = df_oat.rename({'Close': 'oat'}, axis=1)

df_rough_rice = pd.read_csv('DB Commodities/ZR=F_Rough Rice.csv')
df_rough_rice = df_rough_rice[['Date','Close']]
df_rough_rice = df_rough_rice.rename({'Close': 'rough_rice'}, axis=1)

df_soybean = pd.read_csv('DB Commodities/ZS=F_Soybean.csv')
df_soybean = df_soybean[['Date','Close']]
df_soybean = df_soybean.rename({'Close': 'soybean'}, axis=1)

In [13]:
#df=pd.merge(df_cocoa, df_crude_oil,df_cotton,df_gold,df_lean_hogs,df_copper,df_coffe,df_wheat,df_live_cattle,df_natural_gas,df_platinum,df_sugar,df_silver,df_corn,df_oat,df_rough_rice,df_soybean, on='Date')
#df

In [14]:
dfs = [df_cocoa, df_crude_oil,df_cotton,df_gold,df_lean_hogs,df_copper,df_coffe,df_wheat,df_live_cattle,df_natural_gas,df_platinum,df_sugar,df_silver,df_corn,df_oat,df_rough_rice,df_soybean]
df_final = functools.reduce(lambda left,right: pd.merge(left,right,on='Date'), dfs)
df_final

,Date,cocoa,crude_oil,cotton,gold,lean_hogs,copper,coffe,wheat,live_cattle,natural_gas,platinum,sugar,silver,corn,oat,rough_rice,soybean
0,2018-01-02,1936.0,60.369999,77.500000,1313.699951,70.724998,3.2560,130.199997,434.75,123.349998,3.056,943.799988,15.33,17.121000,353.25,242.50,1153.5,955.00
1,2018-01-03,1907.0,61.630001,78.110001,1316.199951,71.050003,3.2370,128.600006,441.00,122.949997,3.008,957.799988,15.31,17.184999,353.00,244.50,1141.0,959.75
2,2018-01-04,1905.0,62.009998,79.250000,1319.400024,71.375000,3.2425,129.550003,439.75,122.250000,2.880,966.099976,15.25,17.188999,351.00,245.75,1147.5,959.25
3,2018-01-05,1895.0,61.439999,78.010002,1320.300049,71.425003,3.2070,128.449997,437.50,119.250000,2.795,971.200012,15.08,17.205000,351.25,248.50,1156.5,961.50
4,2018-01-08,1914.0,61.730000,78.139999,1318.599976,72.974998,3.2010,125.150002,433.25,117.224998,2.835,972.299988,14.78,17.063999,347.25,250.00,1164.5,958.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,2020-12-23,2557.0,48.119999,76.139999,1874.699951,67.849998,3.5520,124.550003,588.00,111.925003,2.608,1016.200012,14.83,25.823999,447.25,336.25,1239.0,1258.75
724,2020-12-28,2560.0,47.619999,76.349998,1877.199951,66.500000,3.5700,123.349998,577.00,113.050003,2.305,1042.199951,14.98,26.459999,456.50,336.75,1199.5,1255.25
725,2020-12-29,2507.0,48.000000,77.010002,1879.699951,67.199997,3.5530,125.400002,585.00,112.050003,2.467,1055.699951,15.04,26.138000,466.00,339.00,1220.5,1295.50
726,2020-12-30,2597.0,48.400002,77.970001,1891.000000,67.599998,3.5430,125.400002,601.25,112.125000,2.422,1072.599976,15.28,26.488001,474.50,349.00,1220.5,1303.75
727,2020-12-31,2603.0,48.520000,78.120003,1893.099976,70.275002,3.5140,128.250000,603.50,112.949997,2.539,1075.400024,15.49,26.332001,484.00,360.75,1240.0,1315.25

In [15]:
df_final.to_csv('data.csv',index=False)

In [17]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 728 entries, 0 to 727
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         728 non-null    object
 1   cocoa        728 non-null    float64
 2   crude_oil    728 non-null    float64
 3   cotton       728 non-null    float64
 4   gold         728 non-null    float64
 5   lean_hogs    728 non-null    float64
 6   copper       728 non-null    float64
 7   coffe        728 non-null    float64
 8   wheat        728 non-null    float64
 9   live_cattle  728 non-null    float64
 10  natural_gas  728 non-null    float64
 11  platinum     728 non-null    float64
 12  sugar        728 non-null    float64
 13  silver       728 non-null    float64
 14  corn         728 non-null    float64
 15  oat          728 non-null    float64
 16  rough_rice   728 non-null    float64
 17  soybean      728 non-null    float64
dtypes: float64(17), object(1)
memory usage: 128.1+ KB